
<div class="container">

    <h1><%= title %></h1>

    <% if (message && message.length) { %>
    <div class="flash-message"><%= message %></div>
    <% } %>

    <% if (success && success.length) { %>
    <div class="flash-success"><%= success %></div>
    <% } %>

    <% if (errors) { %>
      <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
      </ul>
    <% } %>

    <p>You're logged in</p>

</div>